@import "variables";

$switcher-base-size: 30px;
$bubble-border-size: ($switcher-base-size / 100) * 20;

.switchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    position: absolute;
    left: -9999px;
}

.label {
    user-select: none;
    position: relative;
    width: $switcher-base-size * 2;
    height: $switcher-base-size;
    border-radius: $switcher-base-size * 2;
    cursor: pointer;
    text-indent: -9999px;
    font-size: 0.5rem;
    display: block;

    &:after {
        cursor: pointer;
        top: $bubble-border-size / 2;
        left: $bubble-border-size / 2;
        position: absolute;
        display: block;
        content: "";
        width: $switcher-base-size - $bubble-border-size;
        height: $switcher-base-size - $bubble-border-size;
        border-radius: $switcher-base-size * 2;
        transition: transform $theme-transition;
    }

    &.dark {
        background: rgb(55, 143, 230);
        background: linear-gradient(
            90deg,
            rgba(55, 143, 230, 1) 0%,
            rgba(62, 218, 130, 1) 100%
        );

        &:after {
            background: $dark-main-background-color;
        }
    }

    &.light {
        background: #aeb2cb;

        &:after {
            transform: translateX($switcher-base-size);
            background: $light-main-background-color;
        }
    }
}

.text {
    color: $text-color;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 10px 0 0;
}
