$theme-transition: ease 0.3s;

$text-color: #9399b9;
$sep-line-color: #37394e;
$bloc-border-radius: 6px;

// Dark colors
$dark-main-background-color: #1d2029;
$dark-second-background-color: #20222f;
$dark-color-main-text-color: #ffffff;
$dark-bloc-background-color: #252b43;
$dark-bloc-hover-background-color: #333a56;

// Light colors
$light-main-background-color: #ffffff;
$light-second-background-color: #f8f9fe;
$light-color-main-text-color: #1f222b;
$light-bloc-background-color: #f0f3fa;
$light-bloc-hover-background-color: #e1e3f0;
